@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
}

nav{
    height: 80px;
    display: flex;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 8px 24px;
}

.logo{
    width: 160px;
}

img{
    width: 100%;
}

p{
    line-height: 1.5;
}

ul{
    display: flex;
}

li{
    list-style-type: none;
}

.purple{
    color: #7342dc;
}

.nav__link{
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7342dc;
    font-weight: bold;
    padding: 8px;
}

.nav__link--primary{
    border: 1px solid #7342dc;
    border-radius: 4px;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--primary:hover{
    text-decoration: none;
}

/* 
Burger Menu 
*/

.btn__menu{
    color: #7342dc;
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    display: none;
}

.menu__backdrop{
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    /* height: 100vh;
    width: 100vw; or right 0 and bottom 0 does same here*/
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

.open__menu .menu__backdrop{
    opacity: 1;
    visibility: visible;
}

.open__menu{
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close{
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 8px;
    color: white;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list{
    padding: 32px 0;
}

.menu__link{
    color: white;
    font-size: 40px;
}


/* 
LANDING 
*/

#landing{
    background-color: rgba(115, 66, 214, 0.1);
}

header{
    height: calc(100vh - 80px);
}

.header__container{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__figure{
    max-width: 420px;
    padding: 20px;
    height: 100%;
    width: 100%;
    max-height: 50vh;
    z-index: 3;
}

h1{
    font-size: 42px;
    color: #7342dc;
    margin-bottom: 24px;
    text-align: center;
}

h2{
    font-size: 28px;
    margin-bottom: 32px;
    text-align: center;
}

button{
    cursor: pointer;
    transition: transform 1ms ease;
}

button:active{
    transform: translateY(1px);
}

.btn{
    background-color: #7342dc;
    padding: 12px 24px;
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 16px;
}

.container{
    padding: 56px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-cursor{
    cursor: not-allowed;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/* 
Highlights 
*/
#highlights{
    position: relative;
    max-width: 100vw;
}
#highlights::before,
#highlights::after{
    content: "";
    background-image: url("./assets/wave.svg");
    position: absolute;
    left: 0;
    width: 101vw;
    height: 12vw;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
}


#highlights::before{
    top: 1px;
    transform: translateY(-100%);
}

#highlights::after{
    transform: translateY(100%) rotate(180deg);
    bottom: 1px;
}

.highlight__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.highlight{
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highlight__img{
    border: 2px solid #7342dc69;
    color: #7342dc;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.highlight__subtitle{
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

.highlight__para{
    text-align: center;
    max-width: 280px;
}

/* 
    Features 
*/

#features{
    padding-top: 8vw;
    background-color: rgba(115, 66, 214, 0.1);
}


.books{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.book{
    padding: 24px 24px;
    width: 25%;
}

.book__img--wrapper{
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.book__img{
    max-height: 380px;
    transition: transform 300ms ease;
    cursor: not-allowed;
    overflow: hidden;
}

.book:hover .book__img{
    transform: scale(1.03);
}

.book__title{
    font-size: 20px;
    margin-bottom: 8px;
}

.book__title:hover{
    text-decoration: underline;
    cursor: not-allowed;

}

.book__ratings {
    color: #fabf2a;
    margin-bottom: 8px;
}

.book__price--normal{
    text-decoration: line-through;
    padding-right: 6px;
    color: #bfbfbf;
}


/* 
Explore more  
*/

#explore{
    background-color: rgba(115, 66, 214, 0.1);
}



/* 
FOOTER 
*/

footer{
    background-color: #242424;
}

.footer__logo--img{
    width: 100%;
    max-width: 160px;
    filter: grayscale(1) invert(1);   /*Gray scale converts every thing to dark color and then invert, inverts it to white color*/
}

.footer__link,
.footer__copyright{
    color: white;;
}


.footer__list{
    margin: 18px 0 24px 0;
    
}

.footer__logo{
    display: flex;
}

.footer__link{
    padding: 0 8px;
}

/* 

For large mobile devices and tablets 

*/
@media (max-width: 768px){
    .header__description{
        padding: 0 24px;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 26px;
    }

    button{
        font-size: 18px;
    }

    .book{
        width: 50%;
    }
}


/* 
For small and large mobile phones 
*/

@media (max-width:550px){
    .nav__links{
        display: none;
    }

    .btn__menu{
        display: flex;
    }

    .highlight{
        width: 100%;
        margin-bottom: 24px;
    }


}

/* 
    BOOKS PAGE 
*/

.books__header{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0 24px;
}

select{
    max-width: 200px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    color: #606266;
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    outline: none;

}

#books__main{
    background-color:  rgba(115, 66, 214, 0.1);
}

.books__loading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    font-size: 48px;
    color: #7342dc;
}

.fa-spinner{
    animation: rotate 600ms infinite linear;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.book__loading--spinner{
    display: none !important;
}

.books__loading .book__loading--spinner{
    display: block !important;
}
